<footer aria-labelledby="footer-heading">
  <div class="mx-auto max-w-7xl px-8 py-12">
    <div
      class="flex-col flex lg:flex-row lg:items-center lg:py-16 gap-y-12 items-start justify-between pb-6 pt-16 max-w-3xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
        <div class="text-black dark:text-white items-center">
          <div>
            <p class="text-4xl uppercase font-display">KAISER</p><p
              class="max-w-md mt-1 text-sm">
              Adresa:<br>Ul. Radoslava Cimermana 64A, 10000, Zagreb, Croatia <br><br>RADNO VRIJEME: 10:00 - 23:00<br><br>
              Telefon:<br>+385 1 389 7193<br><br>
              Email:<br>rezervacije@restoran-kaiser.com<br>
            
            </p>
          </div>
        </div>
        <nav class="flex-col flex md:ml-auto gap-6">
          <a
            class="text-zinc-500 dark:text-white hover:text-accent-300 py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-md transition-colors"
            href="/rezervacija"
            ><span class="relative z-10">> Rezervacija</span>
          </a><a
            class="text-zinc-500 dark:text-white hover:text-accent-300 py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-md transition-colors"
            href="https://restoran-kaiser.com/a-la-carte-i-dnevna-ponuda/"
            ><span class="relative z-10">> Kompletni meni</span>
          </a><a
            class="text-zinc-500 dark:text-white hover:text-accent-300 py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-md transition-colors"
            href="https://restoran-kaiser.com/"
            ><span class="relative z-10">> Naslovnica</span>
          </a><a
            class="text-zinc-500 dark:text-white hover:text-accent-300 py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-md transition-colors"
            href="https://www.facebook.com/kaiserrestoran"
            ><span class="relative z-10">> Menu</span>
          </a>
        </nav>
      </div>
    </div>
    <div
      class="flex-col flex border-t dark:border-white/20 md:pt-6 pb-12 pt-8 max-w-3xl mx-auto">
      <p class="mt-6 md:mt-0 text-sm text-zinc-300">
        Copyright © MARIO MEŠTROVIĆ d.o.o. <span>2023</span>. Sva prava pridržana.
      </p>
    </div>
  </div>
</footer>
