<section>
	<div class="text-black dark:text-white max-w-3xl mx-auto">
		<div class="relative mx-auto overflow-hidden overflow-x-hidden py-2">
			<div class="w-full justify-between grid mt-10">
				<div
					class="absolute inset-0 from-white dark:from-black left-0 via-transparent w-44 z-10 bg-gradient-to-r"
				>
				</div>
				<div
					class="absolute inset-0 from-white dark:from-black left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto"
				>
				</div>
			</div>
			<div
				class="items-center relative animate-marquee flex font-black gap-4 font-display tracking-widest uppercase whitespace-nowrap"
			>
				Meso
        <span class=" lg:inline">⁕</span>
        Dry Aged
        <span 
        class=" lg:inline">⁕</span
				>Riba
        <span class=" lg:inline">⁕</span>
        Svjež Ulov<span
					class=" lg:inline">⁕</span
				>Meso
        <span class=" lg:inline">⁕</span>
        S domaćih farmi
        <span
					class=" lg:inline">⁕</span
				>Jadranska Riba
        <span class=" lg:inline">⁕</span>
        Iz divljeg ulova<span
					class=" lg:inline">⁕</span
				>Meso
        <span class=" lg:inline">⁕</span>
        Dry Aged
        <span class=" lg:inline">⁕</span>
        Meso
        <span class=" lg:inline">⁕</span>
        Dry Aged
        <span class=" lg:inline">⁕</span>
        Svjež ulov
        <span class=" lg:inline">⁕</span>
        Meso
        <span class=" lg:inline">⁕</span>
        S domaćih farmi
			</div>
		</div>
	</div>
</section>
